<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Bienvenidos a MercadoLiebre - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- HEADER -->
    <header>
      <div class="top-header">
        <div class="logo-mercado-liebre">
          <a href="/"><img src="images/logo-mercado-liebre.svg" /></a>        </div>
        <!-- Barra de busqueda -->
        <div class="search-bar">
          <form action="/" method="get" class="search-form">
              <input type="search" id="search-input" name="search" class="search-input" placeholder="Buscar productos, marcas">
          </form>
        </div>
        <p>
          <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <nav>
        <ul>
          <li><a href="#">Ofertas</a></li>
          <li><a href="#">Tiendas Oficiales</a></li>
          <li><a href="#">Vender</a></li>
          <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
          <li>
            <a href="register">Creá tu cuenta <i class="far fa-id-card"></i></a>
          </li>
          <li>
            <a href="login">Ingresá <i class="fas fa-sign-in-alt"></i></a>
          </li>
          <li>
            <a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a>
          </li>
        </ul>
      </nav>
      <div class="burger-menu">
        <i class="fa fa-bars burger"></i>
      </div>
    </header>

    <!-- BANNER  -->
    <section class="banner">
      <img src="images/img-home-banner.jpg" alt="" />
    </section>

    <!-- MAIN -->
    <main>
      <!-- ULTIMA VISITA -->
      <section>
        <h1>Basado en tu última visita</h1>
        <div class="products">
          <article class="art-products">
            <div><img src="images/img-cafetera-moulinex.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios elemento">$6.770</p>
              <p class="descuentos elemento">40% off</p>
              <h2 class="description">Cafetera Moulinex</h2>
            </div>
          </article>
          <article class="art-products">
            <div><img src="images/img-macbook-pro-2019.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
              <h2 class="description">MacBook Pro 2019</h2>
            </div>
          </article>
          <article class="art-products">
            <div><img src="images/img-samsung-galaxy-s10.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios">$70.500</p>
              <p class="descuentos">10% off</p>
              <h2 class="description">Samsung Galaxy S10</h2>
            </div>
          </article>
          <article class="art-products">
            <div><img src="images/img-tv-samsung-smart.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
              <h2 class="description">SmartTv Samsung 43''</h2>
            </div>
          </article>
        </div>
      </section>
      <!-- OFERTAS -->
      <section>
        <h1>Ofertas</h1>
        <div class="products">
          <article class="art-products">
            <div><img src="images/img-cafetera-moulinex.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios">$6.770</p>
              <p class="descuentos">40% off</p>
              <h2 class="description">Cafetera Moulinex</h2>
            </div>
          </article>
          <article class="art-products">
            <div><img src="images/img-macbook-pro-2019.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios">$230.000</p>
              <p class="descuentos">20% off</p>
              <h2 class="description">MacBook Pro 2019</h2>
            </div>
          </article>
          <article class="art-products">
            <div><img src="images/img-tv-samsung-smart.jpg" alt="" /></div>
            <div class="box-article">
              <i class="fas fa-truck"></i>
              <p class="precios">$23.200</p>
              <p class="descuentos">5% off</p>
              <h2 class="description">SmartTv Samsung 43''</h2>
            </div>
          </article>
        </div>
      </section>
    </main>

    <footer>
      <div class="secc-footer">
        <article class="art-footer">
          <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o efectivo</h3>
        <p>
          Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
      </article>
      <article class="art-footer">
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde $ 2.500</h3>
        <p>
          Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en
          miles de productos. Es un beneficio de Mercado Puntos.
        </p>
      </article>
      <article class="art-footer">
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>
          ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas
          hacer porque estas siempre protegid@.
        </p>
      </article>
    </div>
      <article class="art-footer">
        <p>Copyright © 19992020 MercadoLiebre S.R.L</p>
      </article>
    </footer>
  </body>
</html>
